In [1]:
import requests
import json
import pandas as pd

In [2]:
url = 'http://pulse.media.mit.edu/static/data/consolidated_data_jsonformatted.json'
data = requests.get(url)
text = json.loads(data.text)

In [3]:
len(text)

4136

In [5]:
text[2]

{'QS Upperclass': '5.44',
 'Error in QS Upperclass': '0.61',
 'Lon': '-73.9249',
 'File_Location': '/images/id_4026_400_300.jpg',
 'Pitch': '5',
 'Error in QS Unique': '0.8',
 'Heading': '7',
 'City': 'New York City',
 'QS Unique': '3.79',
 'QS Safer': '4.96',
 'Lat': '40.8259',
 'ID': '4026',
 'Error in QS Safer': '0.58'}

In [7]:
lon = []
safty = []
lat = []
for i in range(len(text)):
    if text[i]['City'] == 'New York City':
        lon.append(text[i]['Lon'])
        lat.append(text[i]['Lat'])
        safty.append(text[i]['QS Safer'])
    else:
        pass

In [11]:
file = pd.DataFrame({'lat':lat, 'lon':lon, 'safety':safty})
# file = pd.DataFrame({'Latitude':LAT,'Longitude':LNG,'Stop_Name':STOP_NAME,'Status':STATUS})
file.to_csv('safety_socre.csv', sep=',')

In [12]:
df = pd.read_csv('safety_socre.csv')
df.head()

   Unnamed: 0      lat      lon safety
0           0  40.8259 -73.9249   4.96
1           1  40.7875 -73.9528   6.94
2           2  40.7728 -73.9584   6.36
3           3  40.6887 -73.8402   4.85
4           4  40.7743 -73.9096    6.7

In [13]:
len(df)

1705